div{
    width: 200px;
    height: 200px;
    border:5px solid;
    border-color:grey;
    background-color: blue;

}
@keyframes rotate{
 

   0%{transform:rotate(-360deg)}

   
}

.animation{
    animation-name:rotate;
    animation-duration: 1s;
    animation-iteration-count:infinite

}

