
a:visited {
    color: transparent;
}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-youtube:hover{
    color : #C31A1E;
}
.fa-pinterest:hover{
    color:#C91517;
}


