*{
    margin: 0px;
    padding:0px;
}
body{
    text-align: center;
}
.header{
    background-color:rgb(145, 185, 145);
    height: 50px;
    }
.nav{
    background-color: green;
    height: 40px;
}


#sidebar{
    background-color:rgb(51, 169, 243);
    height: 300px;
    float:left;
    width: 20%;
}

#content{
    background-color:lightskyblue;;
    height: 300px;
    float:left;
    width:60%;
}
#aside{
    background-color:rgb(51, 169, 243);
    height: 300px;
    float:right;
    width: 20%;
}

.footer{
    background-color:rgb(145, 185, 145);
    height: 30px;
    float:right;
    width:100%
}

