li{
 list-style-type: none;
 display: inline-block;
 width:130px;
 height:20px;
 border-color:rgb(205, 221, 241);
 border: 1px solid;
 background-color:rgb(205, 221, 241);
 padding: 0.5em;
 margin: 10px 5px 5px 5px;
 text-align: center;
}

ul{
    width: 500px;
   }

li:nth-child(3){
    background-color: rgb(165, 238, 165) ;
}

li:nth-child(7){
    background-color:  rgb(165, 238, 165) ;
}