
header{
    background: #e5e5e5;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    padding: 60px;
}

#container1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
     padding: 60px; 
    align-items: baseline;
    
}

.box1{
    margin-top: -15px;
}

.text{
    align-self: flex-start;
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    margin-top: -20px;
    font-weight: 700;
}

.icon1{
align-self:flex-end;
padding:0;
margin-bottom:0;
}

.icon{
    align-self:flex-end;
    align-content: flex-end;
    padding: 0;
 }

p{  line-height: 50px;
    margin:0px;
    padding:0px;
}

.rectangle{
    line-height:0px;
    margin:0px;
    padding:0px;
    margin-left:-15px;
}

.first{
    width: 1010px;
    height: 580px;
}
.image1{
    margin:60px 60px 0px 60px;
}

.text2{
    display: flex;
    width: 1010px;
    height: 70px;
    margin: 43px 60px;
    font-weight: 400;
    font-family: Fira Sans;
    font-size: 18px;
    opacity: 70%;
}

#container2{
    display: flex;
   width: 1010px;
  
    justify-content: space-between;
    margin: 60px;
}

.test1{
    display: flex;
    width: 250px;
    height: 300px;
}


.test2{
    display: flex;
    width: 250px;
    height: 300px;
}

.test3{
    width: 250px;
    height: 300px;
}

.center
{
      position:relative;
      bottom: 180px;
      left: 90px;
      z-index: 2;
}

.polygon
{
      position:relative;
      bottom: 202px;
      left: 47px;
      z-index: 2;
}

#container3{
    display: flex;
    flex-direction: column;
    width: 1010px;
    justify-content: space-evenly;
    margin: 60px;
}
.after1{
    width:480px;
    height: 87px;
    opacity: 70%;
    font-family: Fira Sans;
    font-weight: 400;
    font-weight: 18px;
    line-height:28px;
    align-self: flex-start;
}

.after2{
    align-self: flex-end;
    font-family: Fira Sans;
    font-weight: 500;
    width: 130px;
    height: 30px;
    background-color: #EF8E70;
    text-align:center;
    color: #ffffff;
    padding: 20px 0px 0px 0px;
    letter-spacing: 4px;
    font-size: 14px;
}
