*{
    margin: 0%;
    padding: 0%;
}

div{
    background-color:#2e3642;
    width:100vw;
    height: 100vh;
}

p{
    text-align: center;
    margin-left: 10px;
}

.first{
    font-size: 96px;
    font-weight: 700;
    

    text-align: center;
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    top: 180px;
    left:20px;
  }

.second{

    font-size: 96px;
    font-weight: 700;
    color: #222d41 ;
    text-shadow:20px solid red;
   

    text-align: center;
    display: block;
    position: relative;
    top: 200px;
    filter: drop-shadow(1px 4px 4px);
    margin: 20px;
  }
