*{
    margin: 0%;
    padding: 0%;
  
}

div{
    background-color:#414c5e;
    width:100vw;
    height: 100vh;
}

p{
    text-align: center;
    margin-left: 10px;
}

.first{
    font-size: 96px;
    font-weight: 700;
    color: #414c5e;
    
    text-shadow: 1px 1px  8px  black;
    text-align: center;
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    top: 180px;
    left:40px;
  }

.second{

    font-size: 96px;
    font-weight: 700;
    color: #414c5e;
    
     text-shadow: 10px 5px 15px black;
 

    text-align: center;
   
    position: relative;
    top: 200px;
    
    margin: 20px;
  }
