body{
    font-size: 20px;
    text-transform: uppercase;
    font-family: Roboto;
}
.stuff::after{
 content:close-quote;
 font-size: 30px;
 font-family: Lato;
 color:green;
}

.stuff::before{
    content: open-quote ;
    font-size: 30px;
    font-family:Lato;
    color:green;
   }